<h2>Exercise-3-a</h2>

<h4>1. Remove duplicate list items.</h4>

In [6]:
lst = [1,2,3,4,1,2,3,4]
lst = list(set(lst))
print(lst)

[1, 2, 3, 4]

<h4>2.Store reverse of each list member in another list at same position.</h4>

In [43]:
original_list = ["apple", "banana", "cherry"]

reversed_list = [item[::-1] for item in original_list]

print(reversed_list)

['elppa', 'ananab', 'yrrehc']

<h4>3.Take a sentence as input from user. Break it into words, store words in a list. Sort list according to length of string members.</h4>

In [8]:
str = input("Enter a sentance : ")
lst = str.split()
lst.sort(key=len)
print(lst)

Enter a sentance : hello wo rld t his is te st
['t', 'wo', 'is', 'te', 'st', 'rld', 'his', 'hello']

<h4>4.Create a list which contains integers from -100 to 1 as list items.</h4>

In [10]:
lst = list(range(-100,2))
print(lst)

[-100, -99, -98, -97, -96, -95, -94, -93, -92, -91, -90, -89, -88, -87, -86, -85, -84, -83, -82, -81, -80, -79, -78, -77, -76, -75, -74, -73, -72, -71, -70, -69, -68, -67, -66, -65, -64, -63, -62, -61, -60, -59, -58, -57, -56, -55, -54, -53, -52, -51, -50, -49, -48, -47, -46, -45, -44, -43, -42, -41, -40, -39, -38, -37, -36, -35, -34, -33, -32, -31, -30, -29, -28, -27, -26, -25, -24, -23, -22, -21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1]

<h4>5.Create a list which contains all even integers between 1 and 10 as list items.</h4>

In [11]:
lst = list(range(2,11,2))
print(lst)

[2, 4, 6, 8, 10]

<h4>6.Create a list which contains all consonent-alphabets between 'A' and 'Z' as list items.</h4>

In [12]:
lst = []
vowel = "AEIOU"
for i in range(ord('A'),ord('Z')):
    if chr(i) not in vowel:
        lst.append(chr(i))
        
print(lst)

['B', 'C', 'D', 'F', 'G', 'H', 'J', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'X', 'Y']

<h2>EXERCISES-3-b</h2>

<h4>1.Store 5 different birthdates into a tuple. Print birthdates in the order of from elder to younger (i.e.Sort the tuple in descending order of dates).</h4>

In [15]:
tup1 = ("2012-8-2","2002-8-9","2000-10-10","1999-12-12","1997-9-10")
sort = tuple(sorted(tup1))  
print('Sorted Tuple :', sort)

Sorted Tuple : ('1997-9-10', '1999-12-12', '2000-10-10', '2002-8-9', '2012-8-2')

<h4>2.Create two tuples with some elements. Store only common elements from both the tuples into a third tuple.</h4>

In [16]:
tup1 = (1,2,3,4)
tup2 = (3,4,5,6)
tup3 = tuple(set(tup1) & set(tup2))
print(tup3)

(3, 4)

<h4>3.Reverse a string without help of inbuilt function (OR Reverse a string using only one command/statement). Store answer in another string.</h4>

In [17]:
s1 = "hello ddu"
s2 = s1[::-1]
print(s2)

udd olleh

<h2>EXERCISES-3-c</h2>

<h4>1.Explain usage of items() method of dictionary.</h4>

In [36]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

<h4>2.Explain usage of get() & pop() methods of dictionary.</h4>

In [37]:
print(car.get("brand"))
car.pop("year")

Ford

1964

<h4>3.Explain usage of popitem() & update() methods of dictionary.<h4>

In [40]:
car.popitem()
car.update(year = 1964)
print(car)

{'brand': 'Ford', 'year': 1964}

<h4>4.Count frequency of each vowel in a sentence.</h4>

In [42]:
s = "this is an example of a sentence."
s = s.lower()

vowel_freq = {'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0}

for char in s:
    if char in vowel_freq:
        vowel_freq[char] += 1

print(vowel_freq)

{'a': 3, 'e': 5, 'i': 2, 'o': 1, 'u': 0}