In [1]:
import pandas as pd
df = pd.read_csv('employee-data.csv')
type(df)

pandas.core.frame.DataFrame

In [2]:
print(df)

   empid           ename       sal         doj
0   1001      Ganesh Rao  10000.00  10-10-2000
1   1002      Anil Kumar  23000.50   3-20-2002
2   1003    Gaurav Gupta  18000.53  03-03-2002
3   1004    Hema Chandra  16500.50  09-10-2000
4   1005  Laxmi Prasanna  12000.75  10-08-2000
5   1006       Anant Nag   9999.99  09-09-1999

#### 1. Print salary of Ganesh Rao.

In [3]:
sal = df[df['ename'] == 'Ganesh Rao']['sal'].values[0]
print("Salary of Ganesh Rao is:",sal)

Salary of Ganesh Rao is: 10000.0

#### 2. Print joining date and id of Laxmi Prasanna.

In [4]:
lp = df[['empid','doj']][df['ename'] == 'Laxmi Prasanna']
print(lp)

   empid         doj
4   1005  10-08-2000

#### 3. Print average salary.

In [5]:
print(df['sal'].mean())

14917.045